sudo: true
language: python
cache: pip
addons:
  apt:
    update: true
install:
  - make install
jobs:
  include:
    - stage: test
      script:
        - make test
      python: '2.7'
    - stage: test
      script:
        - make test
      python: '3.5'
    - stage: test
      script:
        - make test
      python: '3.6'
    - stage: test
      script:
        - make test
      python: '3.7'
      dist: xenial
    - stage: coverage
      python: '3.6'
      script:
        - make test
        - codecov --verbose
